[class*="ant-"]::-ms-clear,
[class*="ant-"] input::-ms-clear,
[class*="ant-"] input::-ms-reveal,
[class^="ant-"]::-ms-clear,
[class^="ant-"] input::-ms-clear,
[class^="ant-"] input::-ms-reveal {
  display: none;
}
body,
html {
  width: 100%;
  height: 100%;
}
input::-ms-clear,
input::-ms-reveal {
  display: none;
}
*,
:after,
:before {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@-ms-viewport {
  width: device-width;
}
body {
  color: rgba(0, 0, 0, 0.85);
  font-size: 0.14rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-variant: tabular-nums;
  line-height: 1.5715;
  background-color: #fff;
  font-feature-settings: "tnum", "tnum";
}
[tabindex="-1"]:focus {
  outline: none !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
}
p {
  margin-top: 0;
  margin-bottom: 1em;
}
abbr[data-original-title],
abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  border-bottom: 0;
  cursor: help;
}
address {
  margin-bottom: 1em;
  font-style: normal;
  line-height: inherit;
}
input[type="number"],
input[type="password"],
input[type="text"],
textarea {
  -webkit-appearance: none;
}
dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1em;
}
ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
}
dt {
  font-weight: 500;
}
dd {
  margin-bottom: 0.5em;
  margin-left: 0;
}
blockquote {
  margin: 0 0 1em;
}
a {
  color: #1890ff;
  cursor: pointer;
  transition: color 0.3s;
}
a:hover {
  color: #40a9ff;
}
a:active {
  color: #096dd9;
}
a:active,
a:hover {
  text-decoration: none;
  outline: 0;
}
a:focus {
  text-decoration: none;
  outline: 0;
}
a[disabled] {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}
code,
kbd,
pre,
samp {
  font-size: 1em;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
}
pre {
  margin-top: 0;
  margin-bottom: 1em;
  overflow: auto;
}
figure {
  margin: 0 0 1em;
}
img {
  vertical-align: middle;
}
[role="button"],
a,
area,
button,
input:not([type="range"]),
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
table {
  border-collapse: collapse;
}
caption {
  padding-top: 0.75em;
  padding-bottom: 0.3em;
  color: rgba(0, 0, 0, 0.45);
  text-align: left;
  caption-side: bottom;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"] {
  -webkit-appearance: listbox;
}
textarea {
  resize: vertical;
}
fieldset {
  min-width: 0;
  margin: 0;
  padding: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  margin-bottom: 0.5em;
  font-size: 1.5em;
  line-height: inherit;
}
[type="search"] {
  -webkit-appearance: none;
}
output {
  display: inline-block;
}
[hidden] {
  display: none !important;
}
mark {
  padding: 0.2em;
  background-color: #feffe6;
}
::selection {
  color: #fff;
  background: #1890ff;
}
.clearfix:before {
  display: table;
  content: "";
}
.clearfix:after {
  display: table;
  clear: both;
  content: "";
}
.anticon {
  display: inline-block;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.anticon > * {
  line-height: 1;
}
.anticon svg {
  display: inline-block;
}
.anticon:before {
  display: none;
}
.anticon .anticon-icon {
  display: block;
}
.anticon > .anticon {
  line-height: 0;
  vertical-align: 0;
}
.anticon[tabindex] {
  cursor: pointer;
}
.anticon-spin,
.anticon-spin:before {
  display: inline-block;
  animation: loadingCircle 1s linear infinite;
}
.ant-fade-appear,
.ant-fade-enter {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.ant-fade-leave {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.ant-fade-appear.ant-fade-appear-active,
.ant-fade-enter.ant-fade-enter-active {
  animation-name: antFadeIn;
  animation-play-state: running;
}
.ant-fade-leave.ant-fade-leave-active {
  animation-name: antFadeOut;
  animation-play-state: running;
  pointer-events: none;
}
.ant-fade-appear,
.ant-fade-enter {
  opacity: 0;
  animation-timing-function: linear;
}
.ant-fade-leave {
  animation-timing-function: linear;
}
@keyframes antFadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes antFadeOut {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.ant-move-up-appear,
.ant-move-up-enter {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.ant-move-up-leave {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.ant-move-up-appear.ant-move-up-appear-active,
.ant-move-up-enter.ant-move-up-enter-active {
  animation-name: antMoveUpIn;
  animation-play-state: running;
}
.ant-move-up-leave.ant-move-up-leave-active {
  animation-name: antMoveUpOut;
  animation-play-state: running;
  pointer-events: none;
}
.ant-move-up-appear,
.ant-move-up-enter {
  opacity: 0;
  animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
}
.ant-move-up-leave {
  animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34);
}
.ant-move-down-appear,
.ant-move-down-enter {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.ant-move-down-leave {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.ant-move-down-appear.ant-move-down-appear-active,
.ant-move-down-enter.ant-move-down-enter-active {
  animation-name: antMoveDownIn;
  animation-play-state: running;
}
.ant-move-down-leave.ant-move-down-leave-active {
  animation-name: antMoveDownOut;
  animation-play-state: running;
  pointer-events: none;
}
.ant-move-down-appear,
.ant-move-down-enter {
  opacity: 0;
  animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
}
.ant-move-down-leave {
  animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34);
}
.ant-move-left-appear,
.ant-move-left-enter {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.ant-move-left-leave {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.ant-move-left-appear.ant-move-left-appear-active,
.ant-move-left-enter.ant-move-left-enter-active {
  animation-name: antMoveLeftIn;
  animation-play-state: running;
}
.ant-move-left-leave.ant-move-left-leave-active {
  animation-name: antMoveLeftOut;
  animation-play-state: running;
  pointer-events: none;
}
.ant-move-left-appear,
.ant-move-left-enter {
  opacity: 0;
  animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
}
.ant-move-left-leave {
  animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34);
}
.ant-move-right-appear,
.ant-move-right-enter {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.ant-move-right-leave {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.ant-move-right-appear.ant-move-right-appear-active,
.ant-move-right-enter.ant-move-right-enter-active {
  animation-name: antMoveRightIn;
  animation-play-state: running;
}
.ant-move-right-leave.ant-move-right-leave-active {
  animation-name: antMoveRightOut;
  animation-play-state: running;
  pointer-events: none;
}
.ant-move-right-appear,
.ant-move-right-enter {
  opacity: 0;
  animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
}
.ant-move-right-leave {
  animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34);
}
@keyframes antMoveDownIn {
  0% {
    transform: translateY(100%);
    transform-origin: 0 0;
    opacity: 0;
  }
  to {
    transform: translateY(0);
    transform-origin: 0 0;
    opacity: 1;
  }
}
@keyframes antMoveDownOut {
  0% {
    transform: translateY(0);
    transform-origin: 0 0;
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    transform-origin: 0 0;
    opacity: 0;
  }
}
@keyframes antMoveLeftIn {
  0% {
    transform: translateX(-100%);
    transform-origin: 0 0;
    opacity: 0;
  }
  to {
    transform: translateX(0);
    transform-origin: 0 0;
    opacity: 1;
  }
}
@keyframes antMoveLeftOut {
  0% {
    transform: translateX(0);
    transform-origin: 0 0;
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    transform-origin: 0 0;
    opacity: 0;
  }
}
@keyframes antMoveRightIn {
  0% {
    transform: translateX(100%);
    transform-origin: 0 0;
    opacity: 0;
  }
  to {
    transform: translateX(0);
    transform-origin: 0 0;
    opacity: 1;
  }
}
@keyframes antMoveRightOut {
  0% {
    transform: translateX(0);
    transform-origin: 0 0;
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    transform-origin: 0 0;
    opacity: 0;
  }
}
@keyframes antMoveUpIn {
  0% {
    transform: translateY(-100%);
    transform-origin: 0 0;
    opacity: 0;
  }
  to {
    transform: translateY(0);
    transform-origin: 0 0;
    opacity: 1;
  }
}
@keyframes antMoveUpOut {
  0% {
    transform: translateY(0);
    transform-origin: 0 0;
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    transform-origin: 0 0;
    opacity: 0;
  }
}
@keyframes loadingCircle {
  to {
    transform: rotate(1turn);
  }
}
[ant-click-animating-without-extra-node="true"],
[ant-click-animating="true"] {
  position: relative;
}
html {
  --antd-wave-shadow-color: #1890ff;
  --scroll-bar: 0;
}
.ant-click-animating-node,
[ant-click-animating-without-extra-node="true"]:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  border-radius: inherit;
  box-shadow: 0 0 0 0 #1890ff;
  box-shadow: 0 0 0 0 var(--antd-wave-shadow-color);
  opacity: 0.2;
  animation: fadeEffect 2s cubic-bezier(0.08, 0.82, 0.17, 1),
    waveEffect 0.4s cubic-bezier(0.08, 0.82, 0.17, 1);
  animation-fill-mode: forwards;
  content: "";
  pointer-events: none;
}
@keyframes waveEffect {
  to {
    box-shadow: 0 0 0 #1890ff;
    box-shadow: 0 0 0 0.06rem #1890ff;
    box-shadow: 0 0 0 0.06rem var(--antd-wave-shadow-color);
  }
}
@keyframes fadeEffect {
  to {
    opacity: 0;
  }
}
.ant-slide-up-appear,
.ant-slide-up-enter {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.ant-slide-up-leave {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.ant-slide-up-appear.ant-slide-up-appear-active,
.ant-slide-up-enter.ant-slide-up-enter-active {
  animation-name: antSlideUpIn;
  animation-play-state: running;
}
.ant-slide-up-leave.ant-slide-up-leave-active {
  animation-name: antSlideUpOut;
  animation-play-state: running;
  pointer-events: none;
}
.ant-slide-up-appear,
.ant-slide-up-enter {
  opacity: 0;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}
.ant-slide-up-leave {
  animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}
.ant-slide-down-appear,
.ant-slide-down-enter {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.ant-slide-down-leave {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.ant-slide-down-appear.ant-slide-down-appear-active,
.ant-slide-down-enter.ant-slide-down-enter-active {
  animation-name: antSlideDownIn;
  animation-play-state: running;
}
.ant-slide-down-leave.ant-slide-down-leave-active {
  animation-name: antSlideDownOut;
  animation-play-state: running;
  pointer-events: none;
}
.ant-slide-down-appear,
.ant-slide-down-enter {
  opacity: 0;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}
.ant-slide-down-leave {
  animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}
.ant-slide-left-appear,
.ant-slide-left-enter {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.ant-slide-left-leave {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.ant-slide-left-appear.ant-slide-left-appear-active,
.ant-slide-left-enter.ant-slide-left-enter-active {
  animation-name: antSlideLeftIn;
  animation-play-state: running;
}
.ant-slide-left-leave.ant-slide-left-leave-active {
  animation-name: antSlideLeftOut;
  animation-play-state: running;
  pointer-events: none;
}
.ant-slide-left-appear,
.ant-slide-left-enter {
  opacity: 0;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}
.ant-slide-left-leave {
  animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}
.ant-slide-right-appear,
.ant-slide-right-enter {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.ant-slide-right-leave {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.ant-slide-right-appear.ant-slide-right-appear-active,
.ant-slide-right-enter.ant-slide-right-enter-active {
  animation-name: antSlideRightIn;
  animation-play-state: running;
}
.ant-slide-right-leave.ant-slide-right-leave-active {
  animation-name: antSlideRightOut;
  animation-play-state: running;
  pointer-events: none;
}
.ant-slide-right-appear,
.ant-slide-right-enter {
  opacity: 0;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}
.ant-slide-right-leave {
  animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}
@keyframes antSlideUpIn {
  0% {
    transform: scaleY(0.8);
    transform-origin: 0 0;
    opacity: 0;
  }
  to {
    transform: scaleY(1);
    transform-origin: 0 0;
    opacity: 1;
  }
}
@keyframes antSlideUpOut {
  0% {
    transform: scaleY(1);
    transform-origin: 0 0;
    opacity: 1;
  }
  to {
    transform: scaleY(0.8);
    transform-origin: 0 0;
    opacity: 0;
  }
}
@keyframes antSlideDownIn {
  0% {
    transform: scaleY(0.8);
    transform-origin: 100% 100%;
    opacity: 0;
  }
  to {
    transform: scaleY(1);
    transform-origin: 100% 100%;
    opacity: 1;
  }
}
@keyframes antSlideDownOut {
  0% {
    transform: scaleY(1);
    transform-origin: 100% 100%;
    opacity: 1;
  }
  to {
    transform: scaleY(0.8);
    transform-origin: 100% 100%;
    opacity: 0;
  }
}
@keyframes antSlideLeftIn {
  0% {
    transform: scaleX(0.8);
    transform-origin: 0 0;
    opacity: 0;
  }
  to {
    transform: scaleX(1);
    transform-origin: 0 0;
    opacity: 1;
  }
}
@keyframes antSlideLeftOut {
  0% {
    transform: scaleX(1);
    transform-origin: 0 0;
    opacity: 1;
  }
  to {
    transform: scaleX(0.8);
    transform-origin: 0 0;
    opacity: 0;
  }
}
@keyframes antSlideRightIn {
  0% {
    transform: scaleX(0.8);
    transform-origin: 100% 0;
    opacity: 0;
  }
  to {
    transform: scaleX(1);
    transform-origin: 100% 0;
    opacity: 1;
  }
}
@keyframes antSlideRightOut {
  0% {
    transform: scaleX(1);
    transform-origin: 100% 0;
    opacity: 1;
  }
  to {
    transform: scaleX(0.8);
    transform-origin: 100% 0;
    opacity: 0;
  }
}
.ant-zoom-appear,
.ant-zoom-enter {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.ant-zoom-leave {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.ant-zoom-appear.ant-zoom-appear-active,
.ant-zoom-enter.ant-zoom-enter-active {
  animation-name: antZoomIn;
  animation-play-state: running;
}
.ant-zoom-leave.ant-zoom-leave-active {
  animation-name: antZoomOut;
  animation-play-state: running;
  pointer-events: none;
}
.ant-zoom-appear,
.ant-zoom-enter {
  -ms-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
}
.ant-zoom-appear-prepare,
.ant-zoom-enter-prepare {
  -ms-transform: none;
  transform: none;
}
.ant-zoom-leave {
  animation-timing-function: cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.ant-zoom-big-appear,
.ant-zoom-big-enter {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.ant-zoom-big-leave {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.ant-zoom-big-appear.ant-zoom-big-appear-active,
.ant-zoom-big-enter.ant-zoom-big-enter-active {
  animation-name: antZoomBigIn;
  animation-play-state: running;
}
.ant-zoom-big-leave.ant-zoom-big-leave-active {
  animation-name: antZoomBigOut;
  animation-play-state: running;
  pointer-events: none;
}
.ant-zoom-big-appear,
.ant-zoom-big-enter {
  -ms-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
}
.ant-zoom-big-appear-prepare,
.ant-zoom-big-enter-prepare {
  -ms-transform: none;
  transform: none;
}
.ant-zoom-big-leave {
  animation-timing-function: cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.ant-zoom-big-fast-appear,
.ant-zoom-big-fast-enter {
  animation-duration: 0.1s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.ant-zoom-big-fast-leave {
  animation-duration: 0.1s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.ant-zoom-big-fast-appear.ant-zoom-big-fast-appear-active,
.ant-zoom-big-fast-enter.ant-zoom-big-fast-enter-active {
  animation-name: antZoomBigIn;
  animation-play-state: running;
}
.ant-zoom-big-fast-leave.ant-zoom-big-fast-leave-active {
  animation-name: antZoomBigOut;
  animation-play-state: running;
  pointer-events: none;
}
.ant-zoom-big-fast-appear,
.ant-zoom-big-fast-enter {
  -ms-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
}
.ant-zoom-big-fast-appear-prepare,
.ant-zoom-big-fast-enter-prepare {
  -ms-transform: none;
  transform: none;
}
.ant-zoom-big-fast-leave {
  animation-timing-function: cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.ant-zoom-up-appear,
.ant-zoom-up-enter {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.ant-zoom-up-leave {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.ant-zoom-up-appear.ant-zoom-up-appear-active,
.ant-zoom-up-enter.ant-zoom-up-enter-active {
  animation-name: antZoomUpIn;
  animation-play-state: running;
}
.ant-zoom-up-leave.ant-zoom-up-leave-active {
  animation-name: antZoomUpOut;
  animation-play-state: running;
  pointer-events: none;
}
.ant-zoom-up-appear,
.ant-zoom-up-enter {
  -ms-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
}
.ant-zoom-up-appear-prepare,
.ant-zoom-up-enter-prepare {
  -ms-transform: none;
  transform: none;
}
.ant-zoom-up-leave {
  animation-timing-function: cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.ant-zoom-down-appear,
.ant-zoom-down-enter {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.ant-zoom-down-leave {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.ant-zoom-down-appear.ant-zoom-down-appear-active,
.ant-zoom-down-enter.ant-zoom-down-enter-active {
  animation-name: antZoomDownIn;
  animation-play-state: running;
}
.ant-zoom-down-leave.ant-zoom-down-leave-active {
  animation-name: antZoomDownOut;
  animation-play-state: running;
  pointer-events: none;
}
.ant-zoom-down-appear,
.ant-zoom-down-enter {
  -ms-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
}
.ant-zoom-down-appear-prepare,
.ant-zoom-down-enter-prepare {
  -ms-transform: none;
  transform: none;
}
.ant-zoom-down-leave {
  animation-timing-function: cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.ant-zoom-left-appear,
.ant-zoom-left-enter {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.ant-zoom-left-leave {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.ant-zoom-left-appear.ant-zoom-left-appear-active,
.ant-zoom-left-enter.ant-zoom-left-enter-active {
  animation-name: antZoomLeftIn;
  animation-play-state: running;
}
.ant-zoom-left-leave.ant-zoom-left-leave-active {
  animation-name: antZoomLeftOut;
  animation-play-state: running;
  pointer-events: none;
}
.ant-zoom-left-appear,
.ant-zoom-left-enter {
  -ms-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
}
.ant-zoom-left-appear-prepare,
.ant-zoom-left-enter-prepare {
  -ms-transform: none;
  transform: none;
}
.ant-zoom-left-leave {
  animation-timing-function: cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.ant-zoom-right-appear,
.ant-zoom-right-enter {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.ant-zoom-right-leave {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.ant-zoom-right-appear.ant-zoom-right-appear-active,
.ant-zoom-right-enter.ant-zoom-right-enter-active {
  animation-name: antZoomRightIn;
  animation-play-state: running;
}
.ant-zoom-right-leave.ant-zoom-right-leave-active {
  animation-name: antZoomRightOut;
  animation-play-state: running;
  pointer-events: none;
}
.ant-zoom-right-appear,
.ant-zoom-right-enter {
  -ms-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
}
.ant-zoom-right-appear-prepare,
.ant-zoom-right-enter-prepare {
  -ms-transform: none;
  transform: none;
}
.ant-zoom-right-leave {
  animation-timing-function: cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
@keyframes antZoomIn {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes antZoomOut {
  0% {
    transform: scale(1);
  }
  to {
    transform: scale(0.2);
    opacity: 0;
  }
}
@keyframes antZoomBigIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes antZoomBigOut {
  0% {
    transform: scale(1);
  }
  to {
    transform: scale(0.8);
    opacity: 0;
  }
}
@keyframes antZoomUpIn {
  0% {
    transform: scale(0.8);
    transform-origin: 50% 0;
    opacity: 0;
  }
  to {
    transform: scale(1);
    transform-origin: 50% 0;
  }
}
@keyframes antZoomUpOut {
  0% {
    transform: scale(1);
    transform-origin: 50% 0;
  }
  to {
    transform: scale(0.8);
    transform-origin: 50% 0;
    opacity: 0;
  }
}
@keyframes antZoomLeftIn {
  0% {
    transform: scale(0.8);
    transform-origin: 0 50%;
    opacity: 0;
  }
  to {
    transform: scale(1);
    transform-origin: 0 50%;
  }
}
@keyframes antZoomLeftOut {
  0% {
    transform: scale(1);
    transform-origin: 0 50%;
  }
  to {
    transform: scale(0.8);
    transform-origin: 0 50%;
    opacity: 0;
  }
}
@keyframes antZoomRightIn {
  0% {
    transform: scale(0.8);
    transform-origin: 100% 50%;
    opacity: 0;
  }
  to {
    transform: scale(1);
    transform-origin: 100% 50%;
  }
}
@keyframes antZoomRightOut {
  0% {
    transform: scale(1);
    transform-origin: 100% 50%;
  }
  to {
    transform: scale(0.8);
    transform-origin: 100% 50%;
    opacity: 0;
  }
}
@keyframes antZoomDownIn {
  0% {
    transform: scale(0.8);
    transform-origin: 50% 100%;
    opacity: 0;
  }
  to {
    transform: scale(1);
    transform-origin: 50% 100%;
  }
}
@keyframes antZoomDownOut {
  0% {
    transform: scale(1);
    transform-origin: 50% 100%;
  }
  to {
    transform: scale(0.8);
    transform-origin: 50% 100%;
    opacity: 0;
  }
}
.ant-motion-collapse-legacy {
  overflow: hidden;
}
.ant-motion-collapse-legacy-active {
  transition: height 0.2s cubic-bezier(0.645, 0.045, 0.355, 1),
    opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
}
.ant-motion-collapse {
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.645, 0.045, 0.355, 1),
    opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
}
.ant-message {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 0.28rem;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum", "tnum";
  position: fixed;
  top: 0.16rem;
  left: 0;
  z-index: 1010;
  width: 100%;
  pointer-events: none;
}
.ant-message-notice {
  padding: 0.16rem;
  text-align: center;
}
.ant-message-notice-content {
  display: inline-block;
  padding: 0.2rem 0.32rem;
  background: #fff;
  border-radius: 0.04rem;
  box-shadow: 0 0.06rem 0.12rem -0.08rem rgba(0, 0, 0, 0.12),
    0 0.12rem 0.32rem 0 rgba(0, 0, 0, 0.08),
    0 0.18rem 0.56rem 0.16rem rgba(0, 0, 0, 0.05);
  pointer-events: all;
}
.ant-message-success .anticon {
  color: #52c41a;
}
.ant-message-error .anticon {
  color: #ff4d4f;
}
.ant-message-warning .anticon {
  color: #faad14;
}
.ant-message-info .anticon,
.ant-message-loading .anticon {
  color: #1890ff;
}
.ant-message .anticon {
  position: relative;
  top: 1px;
  margin-right: 0.16rem;
  font-size: 0.32rem;
}
.ant-message-notice.ant-move-up-leave.ant-move-up-leave-active {
  animation-name: MessageMoveOut;
  animation-duration: 0.3s;
}
@keyframes MessageMoveOut {
  0% {
    max-height: 1.5rem;
    padding: 0.08rem;
    opacity: 1;
  }
  to {
    max-height: 0;
    padding: 0;
    opacity: 0;
  }
}
.ant-message-rtl {
  direction: rtl;
}
.ant-message-rtl span {
  direction: rtl;
}
.ant-message-rtl .anticon {
  margin-right: 0;
  margin-left: 0.16rem;
}
.ant-notification {
  box-sizing: border-box;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 0.28rem;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum", "tnum";
  position: fixed;
  z-index: 1010;
  margin: 0 0.48rem 0 0;
}
.ant-notification-close-icon {
  font-size: 0.28rem;
  cursor: pointer;
}
.ant-notification-hook-holder {
  position: relative;
}
.ant-notification-notice {
  position: relative;
  width: 7.68rem;
  max-width: calc(100vw - 0.96rem);
  margin-bottom: 0.32rem;
  margin-left: auto;
  padding: 0.32rem 0.48rem;
  overflow: hidden;
  line-height: 1.5715;
  word-wrap: break-word;
  background: #fff;
  border-radius: 0.04rem;
  box-shadow: 0 0.06rem 0.12rem -0.08rem rgba(0, 0, 0, 0.12),
    0 0.12rem 0.32rem 0 rgba(0, 0, 0, 0.08),
    0 0.18rem 0.56rem 0.16rem rgba(0, 0, 0, 0.05);
}
.ant-notification-bottom .ant-notification-notice,
.ant-notification-top .ant-notification-notice {
  margin-right: auto;
  margin-left: auto;
}
.ant-notification-bottomLeft .ant-notification-notice,
.ant-notification-topLeft .ant-notification-notice {
  margin-right: auto;
  margin-left: 0;
}
.ant-notification-notice-message {
  margin-bottom: 0.16rem;
  color: rgba(0, 0, 0, 0.85);
  font-size: 0.32rem;
  line-height: 0.48rem;
}
.ant-notification-notice-message-single-line-auto-margin {
  display: block;
  width: calc(5.28rem - 100%);
  max-width: 0.08rem;
  background-color: transparent;
  pointer-events: none;
}
.ant-notification-notice-message-single-line-auto-margin:before {
  display: block;
  content: "";
}
.ant-notification-notice-description {
  font-size: 0.28rem;
}
.ant-notification-notice-closable .ant-notification-notice-message {
  padding-right: 0.48rem;
}
.ant-notification-notice-with-icon .ant-notification-notice-message {
  margin-bottom: 0.08rem;
  margin-left: 0.96rem;
  font-size: 0.32rem;
}
.ant-notification-notice-with-icon .ant-notification-notice-description {
  margin-left: 0.96rem;
  font-size: 0.28rem;
}
.ant-notification-notice-icon {
  position: absolute;
  margin-left: 0.08rem;
  font-size: 0.48rem;
  line-height: 0.48rem;
}
.anticon.ant-notification-notice-icon-success {
  color: #52c41a;
}
.anticon.ant-notification-notice-icon-info {
  color: #1890ff;
}
.anticon.ant-notification-notice-icon-warning {
  color: #faad14;
}
.anticon.ant-notification-notice-icon-error {
  color: #ff4d4f;
}
.ant-notification-notice-close {
  position: absolute;
  top: 0.32rem;
  right: 0.44rem;
  color: rgba(0, 0, 0, 0.45);
  outline: none;
}
.ant-notification-notice-close:hover {
  color: rgba(0, 0, 0, 0.67);
}
.ant-notification-notice-btn {
  float: right;
  margin-top: 0.32rem;
}
.ant-notification .notification-fade-effect {
  animation-duration: 0.24s;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-fill-mode: both;
}
.ant-notification-fade-appear,
.ant-notification-fade-enter {
  animation-duration: 0.24s;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-fill-mode: both;
  opacity: 0;
  animation-play-state: paused;
}
.ant-notification-fade-leave {
  animation-duration: 0.24s;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-fill-mode: both;
  animation-duration: 0.2s;
  animation-play-state: paused;
}
.ant-notification-fade-appear.ant-notification-fade-appear-active,
.ant-notification-fade-enter.ant-notification-fade-enter-active {
  animation-name: NotificationFadeIn;
  animation-play-state: running;
}
.ant-notification-fade-leave.ant-notification-fade-leave-active {
  animation-name: NotificationFadeOut;
  animation-play-state: running;
}
@keyframes NotificationFadeIn {
  0% {
    left: 3.84rem;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
@keyframes NotificationFadeOut {
  0% {
    max-height: 1.5rem;
    margin-bottom: 0.16rem;
    opacity: 1;
  }
  to {
    max-height: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    opacity: 0;
  }
}
.ant-notification-rtl {
  direction: rtl;
}
.ant-notification-rtl
  .ant-notification-notice-closable
  .ant-notification-notice-message {
  padding-right: 0;
  padding-left: 0.48rem;
}
.ant-notification-rtl
  .ant-notification-notice-with-icon
  .ant-notification-notice-message {
  margin-right: 0.96rem;
  margin-left: 0;
}
.ant-notification-rtl
  .ant-notification-notice-with-icon
  .ant-notification-notice-description {
  margin-right: 0.96rem;
  margin-left: 0;
}
.ant-notification-rtl .ant-notification-notice-icon {
  margin-right: 0.08rem;
  margin-left: 0;
}
.ant-notification-rtl .ant-notification-notice-close {
  right: auto;
  left: 0.44rem;
}
.ant-notification-rtl .ant-notification-notice-btn {
  float: left;
}
.ant-notification-bottom,
.ant-notification-top {
  margin-right: 0;
  margin-left: 0;
}
.ant-notification-top
  .ant-notification-fade-appear.ant-notification-fade-appear-active,
.ant-notification-top
  .ant-notification-fade-enter.ant-notification-fade-enter-active {
  animation-name: NotificationTopFadeIn;
}
.ant-notification-bottom
  .ant-notification-fade-appear.ant-notification-fade-appear-active,
.ant-notification-bottom
  .ant-notification-fade-enter.ant-notification-fade-enter-active {
  animation-name: NotificationBottomFadeIn;
}
.ant-notification-bottomLeft,
.ant-notification-topLeft {
  margin-right: 0;
  margin-left: 0.48rem;
}
.ant-notification-bottomLeft
  .ant-notification-fade-appear.ant-notification-fade-appear-active,
.ant-notification-bottomLeft
  .ant-notification-fade-enter.ant-notification-fade-enter-active,
.ant-notification-topLeft
  .ant-notification-fade-appear.ant-notification-fade-appear-active,
.ant-notification-topLeft
  .ant-notification-fade-enter.ant-notification-fade-enter-active {
  animation-name: NotificationLeftFadeIn;
}
@keyframes NotificationTopFadeIn {
  0% {
    margin-top: -100%;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
@keyframes NotificationBottomFadeIn {
  0% {
    margin-bottom: -100%;
    opacity: 0;
  }
  to {
    margin-bottom: 0;
    opacity: 1;
  }
}
@keyframes NotificationLeftFadeIn {
  0% {
    right: 3.84rem;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 0.4rem;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -0.02rem;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
.am-fade-appear,
.am-fade-enter {
  opacity: 0;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-play-state: paused;
}
.am-fade-leave {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-play-state: paused;
}
.am-fade-appear.am-fade-appear-active,
.am-fade-enter.am-fade-enter-active {
  animation-name: amFadeIn;
  animation-play-state: running;
}
.am-fade-leave.am-fade-leave-active {
  animation-name: amFadeOut;
  animation-play-state: running;
}
@keyframes amFadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes amFadeOut {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.am-slide-up-appear,
.am-slide-up-enter {
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}
.am-slide-up-appear,
.am-slide-up-enter,
.am-slide-up-leave {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-play-state: paused;
}
.am-slide-up-appear.am-slide-up-appear-active,
.am-slide-up-enter.am-slide-up-enter-active {
  animation-name: amSlideUpIn;
  animation-play-state: running;
}
.am-slide-up-leave.am-slide-up-leave-active {
  animation-name: amSlideUpOut;
  animation-play-state: running;
}
@keyframes amSlideUpIn {
  0% {
    transform: translateY(100%);
  }
  to {
    transform: translate(0);
  }
}
@keyframes amSlideUpOut {
  0% {
    transform: translate(0);
  }
  to {
    transform: translateY(100%);
  }
}
.am.am-zoom-enter,
.am.am-zoom-leave {
  display: block;
}
.am-zoom-appear,
.am-zoom-enter {
  opacity: 0;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
  animation-play-state: paused;
}
.am-zoom-leave {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-timing-function: cubic-bezier(0.6, -0.3, 0.74, 0.05);
  animation-play-state: paused;
}
.am-zoom-appear.am-zoom-appear-active,
.am-zoom-enter.am-zoom-enter-active {
  animation-name: amZoomIn;
  animation-play-state: running;
}
.am-zoom-leave.am-zoom-leave-active {
  animation-name: amZoomOut;
  animation-play-state: running;
}
@keyframes amZoomIn {
  0% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1);
  }
}
@keyframes amZoomOut {
  0% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(0);
  }
}
.am-slide-down-appear,
.am-slide-down-enter {
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}
.am-slide-down-appear,
.am-slide-down-enter,
.am-slide-down-leave {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-play-state: paused;
}
.am-slide-down-appear.am-slide-down-appear-active,
.am-slide-down-enter.am-slide-down-enter-active {
  animation-name: amSlideDownIn;
  animation-play-state: running;
}
.am-slide-down-leave.am-slide-down-leave-active {
  animation-name: amSlideDownOut;
  animation-play-state: running;
}
@keyframes amSlideDownIn {
  0% {
    transform: translateY(-100%);
  }
  to {
    transform: translate(0);
  }
}
@keyframes amSlideDownOut {
  0% {
    transform: translate(0);
  }
  to {
    transform: translateY(-100%);
  }
}
*,
:after,
:before {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  background-color: #f5f5f9;
  font-size: 0.28rem;
}
[contenteditable] {
  -webkit-user-select: auto !important;
}
:focus {
  outline: none;
}
a {
  background: transparent;
  text-decoration: none;
  outline: none;
}
.am-tabs {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 1;
  flex: 1 1;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.am-tabs * {
  box-sizing: border-box;
}
.am-tabs-content-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 1;
  flex: 1 1;
  width: 100%;
  height: 100%;
  min-height: 0;
}
.am-tabs-content-wrap-animated {
  transition: transform 0.3s cubic-bezier(0.35, 0, 0.25, 1),
    left 0.3s cubic-bezier(0.35, 0, 0.25, 1),
    top 0.3s cubic-bezier(0.35, 0, 0.25, 1);
  will-change: transform, left, top;
}
.am-tabs-pane-wrap {
  width: 100%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  overflow-y: auto;
}
.am-tabs-tab-bar-wrap {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.am-tabs-horizontal .am-tabs-pane-wrap-active {
  height: auto;
}
.am-tabs-horizontal .am-tabs-pane-wrap-inactive {
  height: 0;
  overflow: visible;
}
.am-tabs-vertical .am-tabs-content-wrap {
  -ms-flex-direction: column;
  flex-direction: column;
}
.am-tabs-vertical .am-tabs-tab-bar-wrap {
  height: 100%;
}
.am-tabs-vertical .am-tabs-pane-wrap {
  height: 100%;
}
.am-tabs-vertical .am-tabs-pane-wrap-active {
  overflow: auto;
}
.am-tabs-vertical .am-tabs-pane-wrap-inactive {
  overflow: hidden;
}
.am-tabs-bottom,
.am-tabs-top {
  -ms-flex-direction: column;
  flex-direction: column;
}
.am-tabs-left,
.am-tabs-right {
  -ms-flex-direction: row;
  flex-direction: row;
}
.am-tabs-default-bar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: visible;
  z-index: 1;
}
.am-tabs-default-bar-tab {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 0.3rem;
  height: 0.87rem;
  line-height: 0.87rem;
}
.am-tabs-default-bar-tab .am-badge .am-badge-text {
  top: -0.26rem;
  -ms-transform: translateX(-0.1rem);
  transform: translateX(-0.1rem);
}
.am-tabs-default-bar-tab .am-badge .am-badge-dot {
  top: -0.12rem;
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.am-tabs-default-bar-tab-active {
  color: #108ee9;
}
.am-tabs-default-bar-underline {
  position: absolute;
  border: 1px solid #108ee9;
  transform: translateZ(0);
}
.am-tabs-default-bar-animated .am-tabs-default-bar-content {
  transition: transform 0.3s cubic-bezier(0.35, 0, 0.25, 1);
  will-change: transform;
}
.am-tabs-default-bar-animated .am-tabs-default-bar-underline {
  transition: top 0.3s cubic-bezier(0.35, 0, 0.25, 1),
    left 0.3s cubic-bezier(0.35, 0, 0.25, 1),
    color 0.3s cubic-bezier(0.35, 0, 0.25, 1),
    width 0.3s cubic-bezier(0.35, 0, 0.25, 1);
  will-change: top, left, width, color;
}
.am-tabs-default-bar-bottom,
.am-tabs-default-bar-top {
  -ms-flex-direction: row;
  flex-direction: row;
}
.am-tabs-default-bar-bottom .am-tabs-default-bar-content,
.am-tabs-default-bar-top .am-tabs-default-bar-content {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-direction: row;
  flex-direction: row;
}
.am-tabs-default-bar-bottom .am-tabs-default-bar-prevpage,
.am-tabs-default-bar-top .am-tabs-default-bar-prevpage {
  pointer-events: none;
  position: absolute;
  top: 0;
  display: block;
  width: 1.18rem;
  height: 100%;
  content: " ";
  z-index: 999;
  left: 0;
  background: linear-gradient(90deg, #fff, hsla(0, 0%, 100%, 0));
}
.am-tabs-default-bar-bottom .am-tabs-default-bar-nextpage,
.am-tabs-default-bar-top .am-tabs-default-bar-nextpage {
  pointer-events: none;
  position: absolute;
  top: 0;
  display: block;
  width: 1.18rem;
  height: 100%;
  content: " ";
  z-index: 999;
  right: 0;
  background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), #fff);
}
.am-tabs-default-bar-bottom .am-tabs-default-bar-tab,
.am-tabs-default-bar-top .am-tabs-default-bar-tab {
  padding: 0.08rem 0;
}
.am-tabs-default-bar-bottom .am-tabs-default-bar-underline,
.am-tabs-default-bar-top .am-tabs-default-bar-underline {
  bottom: 0;
}
.am-tabs-default-bar-top .am-tabs-default-bar-tab {
  border-bottom: 1px solid #ddd;
}
@media (min-resolution: 2dppx) {
  html:not([data-scale]) .am-tabs-default-bar-top .am-tabs-default-bar-tab {
    border-bottom: none;
  }
  html:not([data-scale])
    .am-tabs-default-bar-top
    .am-tabs-default-bar-tab:after {
    content: "";
    position: absolute;
    background-color: #ddd;
    display: block;
    z-index: 1;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}
@media (min-resolution: 2dppx) and (min-resolution: 3dppx) {
  html:not([data-scale])
    .am-tabs-default-bar-top
    .am-tabs-default-bar-tab:after {
    -ms-transform: scaleY(0.33);
    transform: scaleY(0.33);
  }
}
.am-tabs-default-bar-bottom .am-tabs-default-bar-tab {
  border-top: 1px solid #ddd;
}
@media (min-resolution: 2dppx) {
  html:not([data-scale]) .am-tabs-default-bar-bottom .am-tabs-default-bar-tab {
    border-top: none;
  }
  html:not([data-scale])
    .am-tabs-default-bar-bottom
    .am-tabs-default-bar-tab:before {
    content: "";
    position: absolute;
    background-color: #ddd;
    display: block;
    z-index: 1;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    width: 100%;
    height: 1px;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}
@media (min-resolution: 2dppx) and (min-resolution: 3dppx) {
  html:not([data-scale])
    .am-tabs-default-bar-bottom
    .am-tabs-default-bar-tab:before {
    -ms-transform: scaleY(0.33);
    transform: scaleY(0.33);
  }
}
.am-tabs-default-bar-left,
.am-tabs-default-bar-right {
  -ms-flex-direction: column;
  flex-direction: column;
}
.am-tabs-default-bar-left .am-tabs-default-bar-content,
.am-tabs-default-bar-right .am-tabs-default-bar-content {
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-direction: column;
  flex-direction: column;
}
.am-tabs-default-bar-left .am-tabs-default-bar-tab,
.am-tabs-default-bar-right .am-tabs-default-bar-tab {
  padding: 0 0.08rem;
}
.am-tabs-default-bar-left .am-tabs-default-bar-underline {
  right: 0;
}
.am-tabs-default-bar-left .am-tabs-default-bar-tab {
  border-right: 1px solid #ddd;
}
@media (min-resolution: 2dppx) {
  html:not([data-scale]) .am-tabs-default-bar-left .am-tabs-default-bar-tab {
    border-right: none;
  }
  html:not([data-scale])
    .am-tabs-default-bar-left
    .am-tabs-default-bar-tab:after {
    content: "";
    position: absolute;
    background-color: #ddd;
    display: block;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
    width: 1px;
    height: 100%;
    background: #ddd;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -ms-transform: scaleX(0.5);
    transform: scaleX(0.5);
  }
}
@media (min-resolution: 2dppx) and (min-resolution: 3dppx) {
  html:not([data-scale])
    .am-tabs-default-bar-left
    .am-tabs-default-bar-tab:after {
    -ms-transform: scaleX(0.33);
    transform: scaleX(0.33);
  }
}
.am-tabs-default-bar-right .am-tabs-default-bar-underline {
  left: 0;
}
.am-tabs-default-bar-right .am-tabs-default-bar-tab {
  border-left: 1px solid #ddd;
}
@media (min-resolution: 2dppx) {
  html:not([data-scale]) .am-tabs-default-bar-right .am-tabs-default-bar-tab {
    border-left: none;
  }
  html:not([data-scale])
    .am-tabs-default-bar-right
    .am-tabs-default-bar-tab:before {
    content: "";
    position: absolute;
    background-color: #ddd;
    display: block;
    z-index: 1;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    width: 1px;
    height: 100%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -ms-transform: scaleX(0.5);
    transform: scaleX(0.5);
  }
}
@media (min-resolution: 2dppx) and (min-resolution: 3dppx) {
  html:not([data-scale])
    .am-tabs-default-bar-right
    .am-tabs-default-bar-tab:before {
    -ms-transform: scaleX(0.33);
    transform: scaleX(0.33);
  }
}
.am-tab-bar {
  height: 100%;
  overflow: hidden;
}
.am-tab-bar-bar {
  position: relative;
  box-sizing: border-box;
  height: 1rem;
  border-top: 1px solid #ddd;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  transition-duration: 0.2s;
  transition-property: height bottom;
  z-index: 100;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-align: center;
  align-items: center;
  bottom: 0;
}
@media (min-resolution: 2dppx) {
  html:not([data-scale]) .am-tab-bar-bar {
    border-top: none;
  }
  html:not([data-scale]) .am-tab-bar-bar:before {
    content: "";
    position: absolute;
    background-color: #ddd;
    display: block;
    z-index: 1;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    width: 100%;
    height: 1px;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}
@media (min-resolution: 2dppx) and (min-resolution: 3dppx) {
  html:not([data-scale]) .am-tab-bar-bar:before {
    -ms-transform: scaleY(0.33);
    transform: scaleY(0.33);
  }
}
.am-tab-bar-bar-hidden-top {
  bottom: 1rem;
  height: 0;
}
.am-tab-bar-bar-hidden-bottom {
  bottom: -1rem;
  height: 0;
}
.am-tab-bar-bar .am-tab-bar-tab {
  -ms-flex: 1 1;
  flex: 1 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
.am-tab-bar-bar .am-tab-bar-tab-image {
  width: 0.44rem;
  height: 0.44rem;
  vertical-align: middle;
}
.am-tab-bar-bar .am-tab-bar-tab-title {
  font-size: 0.2rem;
  margin: 0.06rem 0 0;
  line-height: 1;
  text-align: center;
}
.am-tab-bar-bar .am-tab-bar-tab-icon {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
}
.am-tab-bar-bar .am-tab-bar-tab-icon .tab-badge :last-child {
  margin-top: 0.08rem;
  left: 0.44rem;
}
.am-tab-bar-bar .am-tab-bar-tab-icon .tab-dot :last-child {
  margin-top: 0.08rem;
  left: 0.44rem;
}
.am-tab-bar-item {
  height: 100%;
}
.am-badge {
  position: relative;
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
}
.am-badge-text {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: -0.12rem;
  height: 0.36rem;
  line-height: 0.36rem;
  min-width: 0.18rem;
  border-radius: 0.24rem;
  padding: 0 0.1rem;
  text-align: center;
  font-size: 0.24rem;
  color: #fff;
  background-color: #ff5b05;
  white-space: nowrap;
  -ms-transform: translateX(-45%);
  transform: translateX(-45%);
  -ms-transform-origin: -10% center;
  transform-origin: -10% center;
  z-index: 10;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", SimSun, sans-serif;
}
.am-badge-text a {
  color: #fff;
}
.am-badge-text p {
  margin: 0;
  padding: 0;
}
.am-badge-hot .am-badge-text {
  background-color: #f96268;
}
.am-badge-dot {
  position: absolute;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -ms-transform-origin: 0 center;
  transform-origin: 0 center;
  top: -0.08rem;
  height: 0.16rem;
  width: 0.16rem;
  border-radius: 100%;
  background: #ff5b05;
  z-index: 10;
}
.am-badge-dot-large {
  height: 0.32rem;
  width: 0.32rem;
}
.am-badge-not-a-wrapper .am-badge-dot,
.am-badge-not-a-wrapper .am-badge-text {
  top: auto;
  display: block;
  position: relative;
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.am-badge-corner {
  width: 1.6rem;
  padding: 0.16rem;
  position: absolute;
  right: -0.64rem;
  top: 0.16rem;
  background-color: #ff5b05;
  color: #fff;
  white-space: nowrap;
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  text-align: center;
  font-size: 0.3rem;
}
.am-badge-corner-wrapper {
  overflow: hidden;
}
.am-navbar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  height: 0.9rem;
  background-color: #108ee9;
  color: #fff;
}
.am-navbar-left,
.am-navbar-right,
.am-navbar-title {
  -ms-flex: 1 1;
  flex: 1 1;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
.am-navbar-left {
  padding-left: 0.3rem;
  font-size: 0.32rem;
}
.am-navbar-left-icon {
  margin-right: 0.1rem;
  display: inherit;
}
.am-navbar-title {
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 0.36rem;
  white-space: nowrap;
}
.am-navbar-right {
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-size: 0.32rem;
  margin-right: 0.3rem;
}
.am-navbar-light {
  background-color: #fff;
  color: #108ee9;
}
.am-navbar-light .am-navbar-title {
  color: #000;
}
.am-icon {
  fill: currentColor;
  background-size: cover;
  width: 0.44rem;
  height: 0.44rem;
}
.am-icon-xxs {
  width: 0.3rem;
  height: 0.3rem;
}
.am-icon-xs {
  width: 0.36rem;
  height: 0.36rem;
}
.am-icon-sm {
  width: 0.42rem;
  height: 0.42rem;
}
.am-icon-md {
  width: 0.44rem;
  height: 0.44rem;
}
.am-icon-lg {
  width: 0.72rem;
  height: 0.72rem;
}
.am-icon-loading {
  animation: cirle-anim 1s linear infinite;
}
@keyframes cirle-anim {
  to {
    transform: rotate(1turn);
  }
}
.content___3UTq0 {
  padding-top: 20%;
}
.content___3UTq0 .date___1APYR {
  width: 100%;
  font-size: 0.8rem;
  text-align: center;
}
.content___3UTq0 .chineseDate___2wHFU {
  width: 100%;
  font-size: 0.7rem;
  padding: 0.2rem 0;
  text-align: center;
}
.content___3UTq0 .time___gVtOc {
  width: 100%;
  font-size: 1.8rem;
  font-family: "PUTHIAfont";
}
.content___3UTq0 .weather___9EdS6 {
  margin: 0.2rem;
  padding: 0.16rem;
  border-radius: 0.2rem;
  border: 1px solid grey;
}
.content___3UTq0 .weather___9EdS6 .city___Kt32s {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
.content___3UTq0 .weather___9EdS6 .city___Kt32s .icon___2gGyW {
  width: 0.4rem;
  height: 0.4rem;
  margin-right: 0.1rem;
}
.content___3UTq0 .weather___9EdS6 .city___Kt32s .cityName___O_eA6 {
  font-size: 0.4rem;
}
.content___3UTq0 .weather___9EdS6 .weatherInfo___3CmDE {
  margin-top: 0.12rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
.content___3UTq0 .weather___9EdS6 .weatherInfo___3CmDE .weatherIcon___1wMO3 {
  width: 0.64rem;
  height: 0.64rem;
}
.content___3UTq0 .weather___9EdS6 .weatherInfo___3CmDE .detail___3b8Wm {
  margin-left: 0.3rem;
  font-size: 0.4rem;
}
.content___3UTq0 .weather___9EdS6 .temp___1d0In {
  margin-top: 0.12rem;
  font-size: 0.4rem;
}
.content___3UTq0 .musicView___2HvUJ {
  margin-top: 0.6rem;
  padding: 0 0.16rem;
  color: #000;
  font-size: 0.36rem;
}
.content___3UTq0 .musicView___2HvUJ .lyric___3lr0Z {
  text-align: left;
}
.content___3UTq0 .musicView___2HvUJ .songTitle___2co9x {
  margin-top: 0.15rem;
  text-align: right;
}
