<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
    content="initial-scale=1, width=device-width, height=device-height, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover" />

  <title>时钟</title>
  <!-- <style>
    @font-face {
      font-family: PUTHIAfont;
      src: url('../../public/fonts/PUTHIAfont.TTF');
    }
  </style> -->
  <link rel="stylesheet" href="./font.css" />
</head>

<body>
  <div id="root"></div>
</body>

</html>